@charset "utf-8";


body {
width:100%;
margin:0 auto;
background:#3a3a3a;
text-align:center;
font-family: Calibri, Helvetica, sans-serif;
font-size:11px;
color:#FFF;
line-height:14px;
background:url(../image/hockey.jpg) top center #000;
background-attachment:fixed;
}

:invalid {
border: 1px red solid;
}

.wrapper {
text-align:center;
margin:0 auto;
width:930px;
}
:focus {
    outline: 0;
}

h1 {
border-bottom: 1px solid #333333;
color: #333;
font-size: 20px;
margin: 0 0 10px;
padding: 10px 0 30px 60px;
}

h2{
text-decoration: underline;
font-weight: bold;
color: #333;
font-size: 12px;
}

h3{
text-decoration: none;
font-weight: bold;
color: LightSkyBlue;
font-size: 14px;
text-align: center;
}

/* ======================  Begin Header */
.header {
background: url(../image/header.png) no-repeat scroll center top transparent;
    height: 64px;

}
.loginHeader{
margin-right:5%;
  padding-top:2%;
  text-align:right;
}


.content .container{
padding-top: 7em;
padding-left: 3em;
}

button{
background-color: transparent;
border-style: none;
cursor: pointer;
display: inline;
color: white;
}


/* General */
.content{
background: url(../image/content.png);
overflow:visible;
text-align:center;
background-position:50% 0;
background-repeat:no-repeat repeat;
  overflow-x:visible;
  overflow-y:visible;
  text-align:center;
}
a{
    color:#FFF;
    text-decoration:none;
}       
 
a:hover{
 color:#FFF;
 text-decoration:underline;
}


span{
	color: SteelBlue;
}

.nav span{
	color: SteelBlue;	
}

.nav{
	text-transform:uppercase;
}

.secondary-nav span{
	color: SlateGray;
}

table {
    border-collapse: separate;
    border-spacing: 0;
}

label{
display: block;
-webkit-margin-before: 2em;
-webkit-margin-after: 2em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
margin-bottom: 1px;
font-weight: bold;
}

.displayRight{
text-align: right;
padding-right: 10px;
}


/* ======================  Begin Footer */
.footer{
background: url(../image/footer.png) no-repeat top center;
height:46px;
}

/* Signature */
.signature{
text-align:right;
}

.display {
 
    background-color: #222222;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear, left top, left bottom, from(#333333), to(#222222));
    background-image: -moz-linear-gradient(top, #333333, #222222);
    background-image: -ms-linear-gradient(top, #333333, #222222);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #333333), color-stop(100%, #222222));
    background-image: -webkit-linear-gradient(top, #333333, #222222);
    background-image: -o-linear-gradient(top, #333333, #222222);
    background-image: linear-gradient(top, #333333, #222222);
    display: none;
    margin-top: 6%;
    display:none;
padding:10PX;
TEXT-ALIGN:LEFT;
border:2px solid #333;
opacity:0.8;
-moz-border-radius:6px;
-webkit-border-radius:6px;
-moz-box-shadow: 0 0 50px #ccc;
-webkit-box-shadow: 0 0 50px #ccc;
}

#login{
margin-left: 614px;
margin-top: 44px;
}

.display h1{
  background: url("../image/login.jpg") no-repeat scroll 0 50% transparent;
}
.display button{
color: #333;
}
.display .checkbox{
margin-left: 50px;
}
.display p{
color: #333
}


#paginasError p{
font-size: 16px;
font-weight: bold;
}

.tables {
background: url("../image/bgTabla.png") no-repeat scroll right top transparent;
    height: 468px;
    margin: 50px 100px 0;
    padding-top: 1px;
    width: 689px;
}

.tablacont{
line-height: 3;
    padding-left: 25px;
    padding-top: 5px;
}

.newTournament{
margin-bottom: 10px;
    margin-left: 46px;
    margin-right: 10px;
    text-align: left;
}
.newTournament button{
color:silver;
padding: 20px;
}
.newTournament span{
color: cornflowerBlue;
}
.newTournament p{
color: silver
}
.newTournament .link a:link {text-decoration: none;  color: white;}
.newTournament a:link {text-decoration: none;  color: transparent;}
.newTournament a:visited {text-decoration: none; color:transparent;}
.newTournament a:active {text-decoration: none}
.newTournament a:hover {text-decoration: none;}
.titulo{
color: silver;
 
}
.titulo h1{
   color: silver;
    margin: 0;
    padding-bottom: 0;
    padding-left: 0;
  text-align: center;
    margin-right: 26px;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 25px;
}
.current{
color:cornflowerBlue;
}
.others{
color: grey;
}
.opciones{
float: left;
    text-align: left;
    width: 160px;
}

.texto{
float:left;
}
.profile{
padding: 10px;
} 
.profile label{
display:inline;
}
.profile h1{
  background: url("../image/perfil10.png") no-repeat scroll 0 50% transparent;
  margin-bottom: 20px;
}
.profile button{
color: #333333;
    font-size: 12px;
    margin: 5px;
}
.profile p{
  font-size: 11px;
}

.addTeam{
padding: 10px;
} 
.addTeam h1{
  background: url("../image/hockey.gif") no-repeat scroll 0 50% transparent;
   margin-top: -20px;
    padding: 0 0 20px 50px;
 
}
.addTeam button{
color: #333333;
    font-size: 14px;
    margin: 5px;
    font-weight: bold;
}
/* caracter counter message */
.counter span {
text-align: right;
display: block;
}

/* error message */
.error {
height:15px;
background-color:#FFFE36;
font-size:11px;
border:1px solid #E1E16D;
padding:4px 10px;
color:#000;
display:none;
-moz-border-radius:4px;
-webkit-border-radius:4px; 
-moz-border-radius-bottomleft:0;
-moz-border-radius-topleft:0;
-webkit-border-bottom-left-radius:0; 
-webkit-border-top-left-radius:0;
-moz-box-shadow:0 0 6px #ddd;
-webkit-box-shadow:0 0 6px #ddd;
}

.error p {
margin:0;
}

/* overlay */
#overlay {
background-color:#fff;
display:none;
padding:10px;
text-align:left;
border:2px solid #333;
opacity:0.8;
-moz-border-radius:6px;
-webkit-border-radius:6px;
-moz-box-shadow: 0 0 50px #ccc;
-webkit-box-shadow: 0 0 50px #ccc;
height:250px;

}
#overlay2{
background-color:#fff;
display:none;
padding:10px;
text-align:left;
border:2px solid #333;
opacity:0.8;
-moz-border-radius:6px;
-webkit-border-radius:6px;
-moz-box-shadow: 0 0 50px #ccc;
-webkit-box-shadow: 0 0 50px #ccc;
height:500px;
width: 500px
}

#overlay3{
background-color:#fff;
display:none;
padding:10px;
text-align:left;
border:2px solid #333;
opacity:0.8;
-moz-border-radius:6px;
-webkit-border-radius:6px;
-moz-box-shadow: 0 0 50px #ccc;
-webkit-box-shadow: 0 0 50px #ccc;
height:150px;
width: 250px
}
 
#overlay4{
background-color:#fff;
display:none;
padding:10px;
text-align:left;
border:2px solid #333;
opacity:0.8;
-moz-border-radius:6px;
-webkit-border-radius:6px;
-moz-box-shadow: 0 0 50px #ccc;
-webkit-box-shadow: 0 0 50px #ccc;
height:450px;
width: 250px
}

#overlay5 {
background-color:#fff;
display:none;
padding:10px;
text-align:left;
border:2px solid #333;
opacity:0.8;
-moz-border-radius:6px;
-webkit-border-radius:6px;
-moz-box-shadow: 0 0 50px #ccc;
-webkit-box-shadow: 0 0 50px #ccc;
height:350px;
width: 250px
}

#overlay6 {
background-color:#fff;
display:none;
padding:10px;
text-align:left;
border:2px solid #333;
opacity:0.8;
-moz-border-radius:6px;
-webkit-border-radius:6px;
-moz-box-shadow: 0 0 50px #ccc;
-webkit-box-shadow: 0 0 50px #ccc;
height:450px;
width: 473px
}

/* container for external content. uses vertical scrollbar, if needed */
.contentWrap {
height:500px;
overflow-y:auto;
}

.apple_overlay {
display:none;
width:300px;
font-size:11px;
color: #333;
}

.apple_overlay .close {
background-image:url("../image/close.png");
position:absolute; 
cursor:pointer;
height:35px;
width:35px;
right: -18px;
    top: -18px;
}

.scroll-pane
{
height: 313px;
    margin-bottom: 10px;
    margin-right: 100px;
    margin-top: 10px;
    overflow: auto;
    width: 100%;
}

.scroll-pane .displayRight{
margin-right: 20px;
}

.subtitulo {
    color: SkyBlue;
    font-weight: bold;
    text-align: center;
    letter-spacing: 2px;
text-transform: uppercase;
}

.fixture{
margin-top: 35px;
    text-align:left;
    clear: both;
    padding-left: 5px;
    padding-right: 5px;
  text-align: center;
    width: 500px;
}
.fixture h1{
background: url("../image/fixture.png") no-repeat scroll 0 50% transparent;
}
.fixture .titulo h1{
    margin-bottom: 10px;
    padding-bottom: 30px;
  padding-left: 52px;
    padding-top: 34px;
    text-align: left;
   
}
.fixture th {
    border-bottom: 1px dotted #666666;
}

.fixture span{
color:SkyBlue
}
.fixture .link a:link {text-decoration: none;  color: white;}
.fixture a:link {text-decoration: none;  color: transparent;}
.fixture a:visited {text-decoration: none}
.fixture a:active {text-decoration: none}
.fixture a:hover {text-decoration: none;}

.results{
margin-top: 35px;
    text-align:left;
    clear: both;
    padding-left: 5px;
    padding-right: 5px;
  text-align: center;
    width: 500px;
}
.results h1{
background: url("../image/marcador.png") no-repeat scroll 0 50% transparent;
}
.results .titulo h1{
   margin-bottom: 10px;
    padding-bottom: 30px;
  padding-left: 52px;
    padding-top: 34px;
    text-align: left;
   
}
.results th {
    border-bottom: 1px dotted #666666;
}

.results span{
color:SkyBlue
}

.results .link a:link {text-decoration: none;  color: white;}
.results a:link {text-decoration: none;  color: transparent;}
.results a:visited {text-decoration: none}
.results a:active {text-decoration: none}
.results a:hover {text-decoration: none;}


.addDate h1{
  background: url("../image/calendario.jpg") no-repeat scroll 0 50% transparent;
  border-bottom: 1px inset #333333;
}
.addDate button{
color: #333333;
    font-size: 14px;
    margin: 5px;
    font-weight: bold;
}

.addTeam{
margin-top: 35px;
    text-align: left;
    width: 520px;
}
.addteam button{
color:silver;
padding: 20px;
}
.profileTournament .link a:link {text-decoration: none;  color: white;}
.profileTournament a:link {text-decoration: none;  color: transparent;}
.profileTournament a:visited {text-decoration: none; color:transparent;}
.profileTournament a:active {text-decoration: none}
.profileTournament a:hover {text-decoration: none;}

.addResult{
}
.addResult h1{
background: url("../image/result.png") no-repeat scroll 0 50% transparent;
border-bottom: 1px inset #333333;
}
.addResult label{
display: inline;
}
.addResult input{
width: 20px;
}
.addResult #myform{
margin-left: 45px;
    margin-top: 30px;
}
.addResult button{
color: #333333;
    font-size: 14px;
    margin: 5px;
    font-weight: bold;
}

.addPlayer button{
color: #333333;
    font-size: 14px;
    margin: 5px;
    font-weight: bold;
}
.addPlayer h1{
background: url("../image/jugador.png") no-repeat scroll 0 50% transparent;
border-bottom: 1px inset #333333;
   margin: 0 0 5px;
    padding-top: 18px;
   
}
.modifyTeamOverlay{
width: 450px;
padding:10px
}
.modifyTeamOverlay .titulo h1 {
   color: cornflowerBlue;
   letter-spacing: 2px;
   margin-bottom: 30px;
   padding-bottom: 24px;
   padding-left: 59px;
   padding-top: 26px;
   text-align: left;
   text-transform: uppercase;
}
.modifyTeamOverlay h1{
background: url("../image/modify.png") no-repeat scroll 0 50% transparent;
   border-bottom: 1px inset #333333;
   margin-right: 0;
   margin-top: 0;
}
.modifyTeamOverlay button{
color: #333333;
   font-size: 14px;
   font-weight: bold;
   margin-right: 50px;
   margin-top: -20px;
}
.modifyTeamOverlay span{
color: cornflowerBlue;
}
ul li{
    font-size: 12px;
    list-style: none outside none;
    margin-bottom: 10px;
}

.tabs{
margin-top: 100px;
margin-left:0px;
}

.modifyTournament{
margin-top: 35px;
    text-align: left;
    width: 520px;
}

.modifyTournament button{
color:silver;
padding: 20px;
}
.modifyTournament span{
text-align: left;
color: cornflowerBlue;
}
.modifyTournament p{
color: silver;
}
.modifyTournament label{
text-align: left;
}
.modifyTournament .displayRight{
margin-right: 16px;
}
.modifyTournament h1{
background: url("../image/modify.png") no-repeat scroll 0 50% transparent;
}
.modifyTournament .titulo h1{
   margin-bottom: 10px;
  padding-left: 52px;
    text-align: left;
   
}
.opciones a:link {text-decoration: none;}
.opciones a:visited {text-decoration: none;}
.opciones a:active {text-decoration: none}
.opciones a:hover {text-decoration: none; color: LightSkyBlue;}

.profileTournament{
margin-top: 35px;
    width: 520px;
    text-align:left;

}
.profileTournament .titulo h1{
color: cornflowerBlue;
    font-size: xx-large;
    letter-spacing: 2px;
    margin-bottom: 6px;
    margin-top: 74px;
    padding-bottom: 23px;
    text-align: center;
    text-transform: uppercase;
}

.overview .subtitulo{
color: cornflowerBlue;;
}

.overview h1{
background: url("../image/search.png") no-repeat scroll 0 50% transparent;
    border-bottom: 1px inset #333333;
    margin-right: 0;
    margin-top: 0;
}